<button (click)="showModal = true" class="ui button inverted primary fluid">
  Compose
</button>


<app-modal (dismiss)="showModal = false" *ngIf="showModal">
  <!--  this will replace the <ng-content select="[modalTitle]"></ng-content> from the app-modal html tempalte -->
  <div modalTitle>Compose</div>

  <!--
    the default <ng-content> from the modal component html file
  this will replace the <ng-content></ng-content> -->
  <app-email-form (emailSubmit)="onSubmit($event)" [email]="email"></app-email-form>

  <!--  this will replace the <ng-content select="[modalFooter]"></ng-content>-->
  <div modalFooter>
    <button class="ui primary button">Close Button</button>
  </div>
</app-modal>
