<h3>Create a new account</h3>

<form [formGroup]="authForm" class="ui form">
<!--  <div class="field">-->
<!--    <label>Username</label>-->
<!--    <input formControlName="username"/>-->
<!--  </div>-->

  <app-input inputType="text" label="Username" [control]="authForm.get('username')"></app-input>
  {{authForm.get('username').errors | json}} <!--this is used to debug the errors that are thrown when the user input is not valid  -->
  <app-input inputType="password" label="Password" [control]="authForm.get('password')"></app-input>
  {{authForm.get('password').errors | json}}
  <app-input
    label="Password Confirmation"
    [control]="authForm.get('passwordConfirmation')"
    inputType="password">
  </app-input>
  {{authForm.get('passwordConfirmation').errors | json}}
  <br>

  <button class="ui submit button primary">
    Submit
  </button>

  {{ authForm.errors | json}}
</form>
