<h3>Sign In</h3>

<form (ngSubmit)="onSubmit()" [formGroup]="signinForm" class="ui form">

  <app-input inputType="text" label="Username" [control]="signinForm.get('username')"> </app-input>
  <app-input inputType="password" label="Password" [control]="signinForm.get('password')"></app-input>

  <div *ngIf="signinForm.errors" class="ui red basic label">
    <p *ngIf="signinForm.errors.credentials">
      Invalid credentials!
    </p>
  </div>
  <div>
    <button class="ui submit button primary">
      Submit
    </button>
  </div>
</form>
